.addText{
  min-width: 250px;
  min-height: 200px;
}

.button{
  width:150px;
  height:35px;
  color:rgb(236, 236, 236);
  background-color: rgb(106, 96, 245);
  text-align: center;
  padding-top:12px;
  border-radius:3px;
}

.button:hover{
  color:rgb(236, 236, 236);
  background-color: rgb(140, 132, 246);
  transition: 0.1s;
}